/*	body {
    padding-top: 40px;
}
*/
.header.nav-down a, .nav.navbar-nav a strong{
  font-family: 'belepotanregular';
}

header {
    /*background: #f5b335;*/
    /*height: 40px;*/
    /*position: fixed;
    top: 0;*/
 
    width: 100%;
    transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -45px;
}